/***** BASE STYLES *****/
body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

#about {
  height: 1043px;
}

#portfolio {
  height: 845px;
}

#contact {
  height: 645px;
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}
/***** HEADER *****/
header {
  height: 800px;
  background-color: #ffffff;
}

header h1 {
  padding: 80px 10px 80px 10px;
  font-family: 'Libre Baskerville', serif;
  font-size: 64px;
  color: #000000;
}

header h1 span {
  color: #c0c247;
}

nav {
  float: right;
  padding: 50px 25px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  padding-left: 20px;
}
 header h2 {
   font-size: 35px;
   font-weight: lighter;
 }
